# INSTALAÇÃO DE BIBLIOTECAS NECESSÁRIAS

In [ ]:
# %pip install pandas
# %pip install numpy
# %pip install matplotlib
# %pip install scipy
# %pip install seaborn
# %pip install scikit-learn

# INFORMAÇÕES BÁSICAS
Carregando os dados e mostrando informações básicas do dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import sklearn as skl
from sklearn.preprocessing import StandardScaler

df = pd.read_csv(r'C:\Users\guilh\Desktop\Projects\MineracaoDeDados\Projeto\main\data\processed\loan_approval_dataset.csv')

display(df.head(5))
print('COLUNAS:')
print(list(df.columns))
print('INFOS:')
df.info()

,Unnamed: 0,QtdDependentes,NivelDeEducacao,EstaEmpregado,RendaAnual,ValorDoEmprestimo,PeriodoDePagamento,ScoreCivil,ValorPossesImobiliarias,ValorPossesComerciais,ValorPossesLuxuosas,ValorPossesFinanceiras,StatusDoEmprestimo
0,0,-1.475464,0,1,-0.311364,-0.297962,-0.505247,-1.063084,-0.730512,-0.622704,-0.673448,-0.493590,0
1,1,0.295178,1,0,1.501660,1.663530,1.597541,-0.546621,-0.013423,-0.075652,2.053095,2.505374,0
2,2,0.295178,1,0,1.175316,1.775615,-0.505247,-0.772936,1.795598,-0.361070,0.940220,0.958540,0
3,3,1.475605,0,1,1.755483,1.047061,1.597541,-1.266187,0.850344,0.804387,1.619074,0.043067,0
4,4,-1.475464,1,1,-0.057541,-0.152251,-0.154782,-1.631773,-0.062316,0.828172,-0.128139,0.074635,0

COLUNAS:
['Unnamed: 0', 'QtdDependentes', 'NivelDeEducacao', 'EstaEmpregado', 'RendaAnual', 'ValorDoEmprestimo', 'PeriodoDePagamento', 'ScoreCivil', 'ValorPossesImobiliarias', 'ValorPossesComerciais', 'ValorPossesLuxuosas', 'ValorPossesFinanceiras', 'StatusDoEmprestimo']
INFOS:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4173 entries, 0 to 4172
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               4173 non-null   int64
 1   QtdDependentes           4173 non-null   float64
 2   NivelDeEducacao          4173 non-null   int64
 3   EstaEmpregado            4173 non-null   int64
 4   RendaAnual               4173 non-null   float64
 5   ValorDoEmprestimo        4173 non-null   float64
 6   PeriodoDePagamento       4173 non-null   float64
 7   ScoreCivil               4173 non-null   float64
 8   ValorPossesImobiliarias  4173 non-null   float64
 9   ValorPossesComerciais    4173 non-null   float64
 10  ValorPossesLuxuosas      4173 non-null   float64
 11  ValorPossesFinanceiras   4173 non-null   float64
 12  StatusDoEmprestimo       4173 non-null   int64
dtypes: float64(9), int64(4)
memory usage: 423.9 KB